# ===============================
# ADMIN PANEL
# ===============================
admin-panel/assets/img
admin-panel/vendor
admin-panel/node_modules

# ===============================
# WEB PANEL
# ===============================
web_panel/node_modules

